---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="canonical" href="/v{{ spec.version }}/">
    <meta http-equiv="refresh" content="0; url=/v{{ spec.version }}/">
  </head>
  <body>
    <p>Redirecting to <a href="/v{{ spec.version }}/">/v{{ spec.version }}/</a>.</p>
  </body>
</html>
